@use "../global" as *;

$list-width: 25vw;

.menu-page-nav {
   position: relative;
   width: $list-width;
   margin: 3vh 0;
   @include flex-container(flex-start, center);

   h2 {
      font-size: 4vw;
      text-align: right;
      width: $list-width;
      line-height: 70%;
   }

   h3 {
      font-size: 2vw;
      writing-mode: vertical-lr;
      font-weight: 400;
      cursor: pointer;
      margin-left: 20%;
   }
}

.bottom-line {
   position: absolute;
   top: 0;
   left: $list-width * (0.7 - 0.15);
   border-bottom: 1rem solid black;
   height: 100%;
}
