@use "../global" as *;

#menu {
   position: fixed;
   z-index: 99;
   background: $siteYellow;
   width: 100vw;
   height: 100vh;

   #menu-btn,
   #page-navigation {
      display: none;
   }

   .secondary-color {
      color: white;
   }

   .page-right {
      padding: 0 0 10vh 5vw;
   }
}
