@use "../global" as *;

$description-indent: 20%;

.page-default {
   padding: 7vh 4.5vw;
   height: 100%;
   background: white;

   .heading {
      h2:last-child {
         padding-left: 8%;
      }
   }

   .yellow-btn-container {
      position: absolute;
      bottom: 15vh;
      left: $description-indent;
   }

   .description {
      position: absolute;
      width: 22vw;
      top: 50%;
      left: $description-indent;
   }

   .circle-btn {
      position: absolute;
      top: 3vh;
      right: 4vh;
   }
}

.dark {
   background: $medium-gray;

   h2 {
      color: white;
   }

   .description {
      color: $light-gray;
   }
}
