@use "../global" as *;

// .panel-container {
//    @extend %content-container;
//    @include flex-container(center, center);
// }

.panel-display {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   overflow: hidden;
   box-shadow: 0 0 30rem 10rem rgba(black, 0.2);
}
