@use "../global" as *;

#request-check-form {
   margin-top: 30rem;

   h1 {
      color: $siteYellow;
   }
}

.option-container {
   @include flex-container(flex-start, flex-end);
}

.option-column {
   width: 50%;
}
