@use "../global" as *;

.contact {
   overflow: hidden;

   .big-yellow-btn {
      &:hover {
         transform: translateY(0);
      }
   }
}

header {
   position: absolute;
   width: 100%;
   height: 80%;
   padding-top: 15vh;
   @include flex-container(center, flex-start);

   h1 {
      position: absolute;
      font-size: 14vw;
      line-height: 70%;

      &:last-child {
         transform-origin: center bottom;
         transform: scale(1.2);
         letter-spacing: 10rem;
         opacity: 0.03;
      }
   }

   .triangle {
      position: absolute;
      top: 10rem;
      height: 55%;
      stroke-width: 0;
   }

   .floating-mountains {
      position: absolute;
      top: 5vh;
      transform: scale(1.1);
   }
}

.contact-content {
   @include flex-container(space-between, flex-end);
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 70%;
   padding: 0 5vw;

   border: 1rem solid red;
}

.contact-details {
   position: relative;
   height: 80%;
   width: 50%;
   border: 1rem solid blue;

   h2 {
      font-size: 2vw;
      line-height: initial;
   }

   h5 {
      font-size: calc(max(0.9vw, 16rem));
      width: 40%;
      margin: 4vh 0 3vh;
   }
}
.contact-method-container {
   @include flex-container(space-between, center);
   width: 80%;
   margin: 3vh 0;
}

.contact-method {
   height: 9vh;
   overflow: hidden;

   h3 {
      font-size: 1.2vw;
   }

   a {
      font-size: 1.8vh;
      cursor: pointer;
      border-bottom: 2rem solid $siteYellow;
      transition: all 0.8s ease-in;

      &:hover {
         padding-bottom: 5rem;
      }
   }

   .contact-info {
      font-size: 1.8vh;
      display: inline-block;
      margin: 1vh 0;
      color: $description-gray;
      padding-bottom: 12vh;
   }
}
