@use "../global" as *;

@forward "./Home";
@forward "./Practice";
@forward "./About";
@forward "./Contact";
@forward "./Awards";

.page-view {
   width: 100vw;
   height: 100vh;
   @include flex-container(center, center);
   position: relative;
}
