.panel-container, .main-container {
  position: relative;
  width: 90vw;
  height: 90vh;
  box-shadow: 0 0 2vw 1vw rgba(0, 0, 0, 0.2);
}

.panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.paragraph-container {
  /* Track */
  /* Handle */
}
.paragraph-container::-webkit-scrollbar {
  width: 14rem;
}
.paragraph-container::-webkit-scrollbar-track {
  background: #a4a4a4;
  border: 6rem solid white;
}
.paragraph-container::-webkit-scrollbar-track:hover {
  background: #717171;
}
.paragraph-container::-webkit-scrollbar-thumb {
  background: #ebd301;
  border: 10rem solid #ebd301;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.page-right {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.sidebar {
  position: fixed;
  z-index: 99;
  width: 5vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 4vh 0;
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 75%;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.buttons-container li {
  padding: 5rem 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}

body {
  overflow: none;
  font: 14rem "Open Sans", sans-serif;
}

h1,
h2,
h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 6.8vw;
  line-height: 95%;
}

h3 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}

h5 {
  font-size: calc(max(1.05vw, 14rem));
  font-weight: 400;
  color: #494949;
}

h6 {
  font-size: 1.4vw;
}

a {
  position: relative;
  z-index: 99;
  text-decoration: none;
  color: #ebd301;
}
a:hover {
  color: #fee721;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  z-index: 99;
}

.pulse {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2rem solid #ebd301;
  transition: all 0.8s;
}

.text-content-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  padding: 10vh 3vw 5vh 0;
  text-align: justify;
}
.text-content-container h1 {
  color: #ebd301;
  font-size: 2.3vw;
  letter-spacing: -2rem;
  line-height: 100%;
  margin-bottom: 2vh;
}

.paragraph-container {
  padding-right: 3vw;
  height: 85%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.paragraph-container .list-title {
  font-size: 18rem;
}
.paragraph-container h3 {
  margin: 1.5vh 0;
  font-size: 16rem;
}
.paragraph-container ol {
  padding-left: 1.3vw;
}
.paragraph-container li {
  list-style: decimal-leading-zero;
  font: 16rem "Barlow Condensed", sans-serif;
  font-weight: 600;
}
.paragraph-container li p {
  font: 14rem "Open Sans", sans-serif;
}
