@mixin flex-container($justify, $align, $direction: row) {
   display: flex;
   justify-content: $justify;
   align-items: $align;
   flex-direction: $direction;
}

$siteYellow: #ebd301;
$light-gray: #1e1e1e;
$dark-gray: #1b1b1b;
