@use "./abstracts" as *;
@use "./layout" as *;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 6.25%;
   overflow: hidden;
}

body {
   font: 14rem "Open Sans", sans-serif;
   @extend %hide-scrollbars;
}

section {
   scroll-snap-align: start;
}

h1,
h2,
h6 {
   font-family: "Bebas Neue", sans-serif;
   font-weight: 400;
}

// Page Headers
h2 {
   font-size: 6.8vw;
   line-height: 95%;
}

h3 {
   font-family: "Barlow Condensed", sans-serif;
   text-transform: uppercase;
}

// Description text
h5 {
   font-size: calc(max(1.05vw, 14rem));
   font-weight: 400;
   color: $description-gray;
}

// Yellow Button text
h6 {
   font-size: 1.4vw;
}

a {
   position: relative;
   z-index: 50;
   text-decoration: none;
   color: $siteYellow;

   &:hover {
      color: lighten($siteYellow, 10%);
   }
}

li {
   list-style: none;
}

label {
   display: block;
   text-transform: uppercase;
}

textarea,
input {
   outline: none;
   background: none;
   border: none;
   resize: none;
   font: inherit;
}

button {
   border: none;
   background: none;
   outline: none;
   cursor: pointer;
   z-index: 50;
}
