* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 6.25%;
}

body {
   overflow: none;
   font: 14rem "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Barlow Condensed", sans-serif;
}
