@use "./abstracts" as *;
@use "./layout" as *;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 6.25%;
}

body {
   overflow: none;
   font: 14rem "Open Sans", sans-serif;
   @extend %hide-scrollbars;
}

h1,
h2,
h6 {
   font-family: "Bebas Neue", sans-serif;
   font-weight: 400;
}

// Page Headers
h2 {
   font-size: 6.8vw;
   line-height: 95%;
}

h3 {
   font-family: "Barlow Condensed", sans-serif;
   text-transform: uppercase;
}

// Description text
h5 {
   font-size: calc(max(1.05vw, 14rem));
   font-weight: 400;
   color: $description-gray;
}

// Yellow Button text
h6 {
   font-size: 1.4vw;
}

a {
   position: relative;
   z-index: 99;
   text-decoration: none;
   color: $siteYellow;

   &:hover {
      color: lighten($siteYellow, 10%);
   }
}

li {
   list-style: none;
}

button {
   border: none;
   background: none;
   outline: none;
   cursor: pointer;
   z-index: 99;
}

.pulse {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   border: 2rem solid $siteYellow;
   transition: all 0.8s;
}
