@use "./abstracts" as *;

%content-container {
   position: relative;
   width: 90vw;
   height: 90vh;
   box-shadow: 0 0 2vw 1vw rgba(black, 0.2);
}

.main-container {
   @extend %content-container;
}

.panel-container {
   @extend %content-container;
   @include flex-container(center, center);
}

%hide-scrollbars {
   &::-webkit-scrollbar {
      display: none;
   }
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.page-right {
   position: absolute;
   width: 50%;
   height: 100%;
   top: 0;
   right: 0;
   @include flex-container(center, flex-start, column);
}
