.panel-container, .main-container {
  position: relative;
  width: 90vw;
  height: 90vh;
  box-shadow: 0 0 2vw 1vw rgba(0, 0, 0, 0.2);
}

.panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}

body {
  overflow: none;
  font: 14rem "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 6.8vw;
  line-height: 95%;
}

a {
  position: relative;
  z-index: 99;
  text-decoration: none;
  color: #ebd301;
}
a:hover {
  color: #fee721;
}

.home {
  background-image: url("../../assets/mountain.jpg");
  background-position: 0% 40%;
  background-size: cover;
}

.side-badges {
  position: absolute;
  top: 55rem;
  left: 0;
}

.triangle {
  position: absolute;
  top: 5vh;
  width: 85%;
  height: 85%;
  fill: #ebd301;
  stroke: #ebd301;
  stroke-width: 5rem;
}

.mouse-scroll {
  position: absolute;
  bottom: 2vh;
  width: 27rem;
  height: 40rem;
  border: 2rem solid white;
  border-radius: 18rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.mouse-scroll .scroll {
  margin-top: 3.5rem;
  width: 2rem;
  height: 8rem;
  background: white;
}

.title-container {
  position: absolute;
  text-align: center;
  padding-top: 13vh;
}
.title-container h1 {
  font-size: 16vw;
  line-height: 75%;
  color: white;
}
.title-container h4 {
  font-size: calc(max(1vw, 14rem));
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  letter-spacing: -1rem;
}
.title-container.silhouette {
  transform: scale(1.15);
  opacity: 0.3;
  padding-bottom: 3vh;
}
.title-container.silhouette h1 {
  line-height: 85%;
}

.lift-panel {
  position: relative;
  z-index: 5;
  transition: 1s all;
}
.lift-panel.border {
  border-right: 0.5rem solid black;
}
.lift-panel:hover {
  box-shadow: 0 0 30rem 20rem rgba(0, 0, 0, 0.4);
}

.practice {
  padding: 7vh 4.5vw;
}
.practice .heading h2:last-child {
  padding-left: 8%;
}

.page-view {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.panel-display {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow: hidden;
  box-shadow: 0 0 30rem 10rem rgba(0, 0, 0, 0.2);
}

.badge {
  position: relative;
  padding: 10rem 0 12rem;
  height: 166rem;
  width: 54rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.badge h3 {
  font-size: 21rem;
  text-align: center;
}
.badge h3 span {
  font-size: 27rem;
  position: absolute;
  top: 3rem;
}
.badge h4 {
  font-size: 13rem;
  font-weight: 600;
  writing-mode: vertical-rl;
  transform: scale(-1);
}
