.panel-container, .main-container {
  position: relative;
  width: 90vw;
  height: 90vh;
  box-shadow: 0 0 2vw 1vw rgba(0, 0, 0, 0.2);
}

.panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.panel-display {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow: hidden;
  box-shadow: 0 0 30rem 10rem rgba(0, 0, 0, 0.2);
}

.paragraph-container {
  /* Track */
  /* Handle */
}
.paragraph-container::-webkit-scrollbar {
  width: 14rem;
}
.paragraph-container::-webkit-scrollbar-track {
  background: #a4a4a4;
  border: 6rem solid white;
}
.paragraph-container::-webkit-scrollbar-track:hover {
  background: #717171;
}
.paragraph-container::-webkit-scrollbar-thumb {
  background: #ebd301;
  border: 10rem solid #ebd301;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.page-right {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.sidebar {
  position: fixed;
  z-index: 99;
  width: 5vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 4vh 0;
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 75%;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.buttons-container li {
  padding: 5rem 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}

body {
  overflow: none;
  font: 14rem "Open Sans", sans-serif;
}

h1,
h2,
h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 6.8vw;
  line-height: 95%;
}

h3 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}

h5 {
  font-size: calc(max(1.05vw, 14rem));
  font-weight: 400;
  color: #494949;
}

h6 {
  font-size: 1.4vw;
}

a {
  position: relative;
  z-index: 99;
  text-decoration: none;
  color: #ebd301;
}
a:hover {
  color: #fee721;
}

li {
  list-style: none;
}

label {
  display: block;
  text-transform: uppercase;
}

textarea,
input {
  outline: none;
  background: none;
  border: none;
  resize: none;
  font: inherit;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  z-index: 99;
}

.pulse {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2rem solid #ebd301;
  transition: all 0.8s;
}

.home {
  background-image: url("../../assets/mountain-landscape.jpg");
  background-size: cover;
}

.side-badges {
  position: absolute;
  top: 55rem;
  left: 0;
}

.triangle {
  position: absolute;
  top: 5vh;
  width: 85%;
  height: 85%;
  fill: #ebd301;
  stroke: #ebd301;
  stroke-width: 5rem;
}

.mouse-scroll {
  position: absolute;
  bottom: 2vh;
  width: 27rem;
  height: 40rem;
  border: 2rem solid white;
  border-radius: 18rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.mouse-scroll .scroll {
  margin-top: 3.5rem;
  width: 2rem;
  height: 8rem;
  background: white;
}

.title-container {
  position: absolute;
  text-align: center;
  padding-top: 10vh;
}
.title-container h1 {
  font-size: 16vw;
  line-height: 75%;
  color: white;
}
.title-container h4 {
  font-size: calc(max(1vw, 14rem));
  color: white;
  font-weight: 600;
  letter-spacing: -1rem;
  text-transform: uppercase;
}
.title-container.silhouette {
  transform: scale(1.15);
  opacity: 0.3;
  padding-bottom: 3vh;
}
.title-container.silhouette h1 {
  line-height: 85%;
}

.lift-panel {
  position: relative;
  z-index: 5;
  transition: 1s all;
}
.lift-panel.border {
  border-right: 0.5rem solid black;
}
.lift-panel:hover {
  box-shadow: 0 0 30rem 20rem rgba(0, 0, 0, 0.4);
}

.text-content-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  padding: 10vh 3vw 5vh 0;
  text-align: justify;
}
.text-content-container h1 {
  color: #ebd301;
  font-size: 2.3vw;
  letter-spacing: -2rem;
  line-height: 100%;
  margin-bottom: 2vh;
}

.paragraph-container {
  padding-right: 3vw;
  height: 85%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.paragraph-container .list-title {
  font-size: 18rem;
}
.paragraph-container h3 {
  margin: 1.5vh 0;
  font-size: 16rem;
}
.paragraph-container ol {
  padding-left: 1.3vw;
}
.paragraph-container li {
  list-style: decimal-leading-zero;
  font: 16rem "Barlow Condensed", sans-serif;
  font-weight: 600;
}
.paragraph-container li p {
  font: 14rem "Open Sans", sans-serif;
}

.contact {
  overflow: hidden;
}
.contact .big-yellow-btn:hover {
  transform: translateY(0);
}

header {
  position: absolute;
  width: 100%;
  height: 80%;
  padding-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
header h1 {
  position: absolute;
  top: 15vh;
  font-size: 14vw;
  line-height: 70%;
}
header h1:first-child {
  transform-origin: center bottom;
  transform: scale(1.2);
  letter-spacing: 10rem;
  opacity: 0.03;
}
header .container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
header .triangle {
  top: 15rem;
  height: 55%;
  stroke-width: 0;
}
header .floating-mountains {
  position: absolute;
  top: 5vh;
  transform: scale(1.1);
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  padding: 0 5vw;
}

.contact-details {
  position: relative;
  height: 80%;
  width: 50%;
}
.contact-details h2 {
  font-size: 2vw;
  line-height: initial;
}
.contact-details h5 {
  font-size: calc(max(0.9vw, 16rem));
  width: 40%;
  margin: 4vh 0 3vh;
}

.contact-method-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
  margin: 3vh 0;
}

.contact-method {
  height: 9vh;
  overflow: hidden;
}
.contact-method h3 {
  font-size: 1.2vw;
}
.contact-method a {
  font-size: 1.8vh;
  cursor: pointer;
  border-bottom: 2rem solid #ebd301;
  transition: all 0.8s ease-in;
}
.contact-method a:hover {
  padding-bottom: 5rem;
}
.contact-method .contact-info {
  font-size: 1.8vh;
  display: inline-block;
  margin: 1vh 0;
  color: #494949;
  padding-bottom: 12vh;
}

.awards-list-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 10vh 0 0 6vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.award {
  color: #a4a4a4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 80%;
  margin-bottom: 6vh;
}
.award h1 {
  font-size: calc(max(2vw, 20rem));
  width: 50%;
}
.award h1 span {
  color: #ebd301;
}
.award p {
  font-size: calc(max(0.9vw, 16rem));
}

.page-view {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.badge {
  position: relative;
  padding: 10rem 0 12rem;
  height: 166rem;
  width: 54rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.badge h3 {
  font-family: inherit;
  font-size: 21rem;
  text-align: center;
}
.badge h3 span {
  font-size: 27rem;
  position: absolute;
  top: 3rem;
}
.badge h4 {
  font-size: 13rem;
  font-weight: 600;
  writing-mode: vertical-rl;
  transform: scale(-1);
}

.big-yellow-btn {
  position: relative;
  width: 18vw;
  height: 9vh;
  background: #ebd301;
  box-shadow: 0 15rem 30rem -10rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  font-size: 1.4vw;
}
.big-yellow-btn:hover {
  transform: translateY(10rem);
  box-shadow: 0 20rem 30rem -10rem rgba(0, 0, 0, 0);
}
.big-yellow-btn:hover .pulse {
  transform: scale(1.2, 1.6);
  opacity: 0;
}

.page-default {
  padding: 7vh 4.5vw;
  height: 100%;
  background: white;
}
.page-default .heading h2:last-child {
  padding-left: 8%;
}
.page-default .yellow-btn-container {
  position: absolute;
  bottom: 15vh;
  left: 20%;
}
.page-default .description {
  position: absolute;
  width: 22vw;
  top: 50%;
  left: 20%;
}
.page-default .circle-btn {
  position: absolute;
  top: 3vh;
  right: 4vh;
}

.dark {
  background: #1e1e1e;
}
.dark h2 {
  color: white;
}
.dark .description {
  color: #a4a4a4;
}

.list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 4vh;
}
.list-item:hover .dash {
  transform: rotate(90deg) translateX(-10rem) translateY(-5rem);
  border-bottom: 1rem solid black;
  margin: 0 15rem 0 0;
}
.list-item:hover h3 {
  color: #ebd301;
}
.list-item:hover h3:first-child {
  transform: translateX(-5rem);
}
.list-item .number {
  min-width: 1.6vw;
}
.list-item h3 {
  font-weight: 300;
  font-size: 1.6vw;
  letter-spacing: -1rem;
  transition: all 0.3s ease-in;
}
.list-item .dash {
  margin: 0 10rem 0 5rem;
  width: 22rem;
  border-bottom: 1rem solid #ebd301;
  transition: all 0.3s ease-in;
  transform-origin: bottom left;
}

.circle-btn {
  position: absolute;
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  background: #ebd301;
}
.circle-btn .pulse {
  border-radius: 100%;
  border: 1rem solid #ebd301;
  animation: pulsing 1.4s ease-out infinite;
}

@keyframes pulsing {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}
.sliding-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 10vh;
  height: 50vh;
  width: 100%;
  color: gray;
  opacity: 0.07;
  border: 1rem solid red;
}
.sliding-text:last-child {
  overflow: hidden;
}
.sliding-text h1 {
  font-size: 15vw;
  line-height: 80%;
  margin-left: 1vw;
}

.tier {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.text-outline {
  color: rgba(128, 128, 128, 0);
  padding-top: 2.7vw;
  -webkit-text-stroke: 2rem gray;
  transform: rotate(180deg);
}

.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#right-sidebar {
  right: 0;
}

#left-sidebar .logo {
  transform: rotate(-90deg) translateX(-50%);
  width: 15vh;
}

.slide-btn {
  width: 25rem;
  overflow: hidden;
}
.slide-btn:hover .text-container {
  transform: translateX(-25rem);
}
.slide-btn .text-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  transition: all 1s;
}
.slide-btn .text-container .left {
  transform: scale(-1);
}
.slide-btn .text-container.left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
.slide-btn h3 {
  width: 25rem;
  font-size: 22rem;
  writing-mode: vertical-rl;
  order: 2;
}
.slide-btn .yellow {
  color: #ebd301;
}
.slide-btn .yellow.left {
  order: 1;
}
.slide-btn .thin {
  font-weight: 300;
}

#contact-form {
  padding-top: 3vh;
  width: 70%;
  position: absolute;
  right: 0;
}
#contact-form label,
#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 5rem;
  font-size: 0.9vw;
}
#contact-form input,
#contact-form textarea {
  border-bottom: 2rem solid rgba(164, 164, 164, 0.5);
}
#contact-form .active label {
  color: #ebd301;
}
#contact-form .active textarea,
#contact-form .active input {
  border-bottom: 2rem solid #ebd301;
}
#contact-form .big-yellow-btn {
  width: 55%;
  position: absolute;
  right: 0;
  margin: 2vh 1vw 0 0;
}

.project-panel {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}
.project-panel:hover .project-image {
  filter: brightnesS(1);
  transform: scale(1.05);
}

.project-image {
  filter: brightness(0.3);
  transition: all 0.5s;
}

.project-details {
  position: absolute;
  top: 0;
  z-index: 5;
}
.project-details h1 {
  font-size: 45vh;
  background: linear-gradient(white, #a4a4a4);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 45vh;
  line-height: 100%;
}
.project-details h2 {
  font-size: 2vw;
  height: 10vh;
  text-shadow: 0 5rem 5rem black;
}
.project-details p {
  color: white;
  font-size: 16rem;
  text-shadow: 0 2rem 2rem black;
}

.border {
  border-right: 1rem solid black;
}
