@use "../global" as *;

@forward "./Home";
@forward "./Practice";
@forward "./About";
@forward "./Contact";
@forward "./Awards";

#app {
   @extend %hide-scrollbars;
   width: 100vw;
   height: 100vh;
   overflow-y: scroll;
   scroll-snap-type: y mandatory;
   scroll-behavior: smooth;
}

.page-view {
   width: 100vw;
   height: 100vh;
   @include flex-container(center, center);
   position: relative;
   scroll-snap-align: center;
   border: 1rem solid red;
}

@media only screen and (max-width: 1024px) {
   #app {
      scroll-snap-type: none;
      scroll-behavior: smooth;
   }

   .page-view {
      scroll-snap-align: none;
   }
}
